<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New Contact</title>
</head>
<body>
<form th:object="${newPlayer}" th:action="@{/update/{id}(id=${newPlayer.id})}" method='POST'>
Player Name: <input name="characterName" size="20" th:field="*{characterName}"> <br />
Player Phone Number: <input name="phoneNumber"size="20" th:field="*{phoneNumber}"><br />
Availability: <input name="availability" size="20" th:field="*{availability}"><br />
Character Name: <input name="character.characterName" size="20" th:field="*{character.characterName}"><br />
Character Class: <input name="character.characterClass" size="20" th:field="*{character.characterClass}"><br />
Character Race:<input name="character.race" size="20" th:field="*{character.race}"><br />
Character Level:<input name="character.level" size="20" th:field="*{character.level}"><br />
<input name="submit"type="submit"value="submit"/>
</form>
<a href="viewAll">View all Contacts2</a>
</body>
</html>